@import url(https://fonts.googleapis.com/css?family=Lato:300italic);	
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
   	font-weight: 300; 
   	font-size: 16px;
   	background-color: grey;
   	color: navy;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Times new Roman';
	color: orange;
	font-size: 48px;
}
.COD {
	max-height: 250px;
	display: block;
    margin: 0 auto;
	width: 100%;

}

#WebBanner {
	width: 100%;
}
